# Project exclude paths
/clientside/barebone/socketio-small-client/node_modules/
/clientside/maxwhere/military-arbiter/dist/
/clientside/maxwhere/military-arbiter/node_modules/
/framework/cognitive/agent/blocks/target/
/framework/cognitive/channels/intercognitive/target/
/framework/cognitive/format/hypergraph/target/
/framework/cognitive/speclanguage/target/
/framework_python/cognitive/format/hypergraph/lang/antlr4.jar
/framework_python/cognitive/format/hypergraph/lang/test/.pytest_cache/
/framework_python/examples/example_gps_mobile_platform.cogni
